* {
  margin: 0;
}

body {
  padding: 2rem;
}

button {
  padding: 0.3rem 1rem;
  border: none;
  width: fit-content;
  background: red;
  color: white;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #000;
}
input {
  padding: 0.4rem 1rem;
  background-color: beige;
  font-size: 1.4rem;
  border-radius: 5px;
}
.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
